img {
  width: 150px;
  height: 200px;
}

.item-container {
  //   border: 1px solid #007bff;
  width: 200px;
  height: 400px;
  box-shadow: 1px 4px 9px #888888;
}

.img-container {
  text-align: center;
}

.discount {
  //   height: 30px;
  background-color: red;
  text-align: center;
}
.discount-value {
  color: white;
  font-weight: bold;
}

.description-container {
  padding-top: 15px;
}
.title {
  margin: 2px;
  text-align: center;
  padding-bottom: 10px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description-heading {
  font-weight: bold;
}

.mrp-price {
  font-weight: normal;
  padding-left: 10px;
}

.final-price {
  padding-left: 10px;
}

.price {
  font-size: 14px;
}

.item-description {
  display: flex;
  padding-left: 5px;
  flex-direction: row;
}

.item-info {
  margin-left: auto;
  padding-right: 5px;
}

.brand {
  width: 120px;
  text-align: end;
}
.checked {
  color: orange;
}

.color-box {
  width: 15px;
  height: 15px;
  background-color: red;
}
