img {
  width: 120px;
  height: auto;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid #007bff; */
  width: 200px;
  height: 380px;
  box-shadow: 1px 4px 9px #888888;
  margin: 20px;
}

.img-container {
  text-align: center;
  min-height: 100px;
}

.discount {
  height: 25px;
  width: 100%;
  text-align: center;
}
.discount-value {
  color: white;
  font-weight: bold;
  width: 100%;
  background-color: red;
}

.description-container {
  padding-top: 15px;
}
.title {
  margin: 2px;
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.description-heading {
  font-weight: bold;
}

.mrp-price {
  font-weight: normal;
  padding-left: 10px;
}

.final-price {
  padding-left: 10px;
}

.price {
  font-size: 14px;
}

.item-description {
  display: flex;
  padding-left: 5px;
  flex-direction: row;
}

.item-info {
  margin-left: auto;
  padding-right: 5px;
}

.brand {
  width: 120px;
  text-align: end;
}
.checked {
  color: orange;
}

.color-box {
  width: 15px;
  height: 15px;
  background-color: red;
}

.add-to-cart {
  padding-bottom: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  outline: none;
}

btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff75;
  border-color: #007bff9c;
  cursor: default;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 0.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
