<div class="card-container">
  <div class="card">
    <div *ngIf="isInvalidUser" class="invalid-user">
      Invalid User name or Password, please try again !
    </div>
    <form class="form-container" [formGroup]="loginGroup">
      <fieldset class="field-set">
        <div class="spacing-bottom">
          <label for="username">User Name :</label>
          <div>
            <input
              type="text"
              class="form-contorl"
              id="username"
              formControlName="username"
              placeholder="Enter User id"
            />
          </div>
        </div>

        <div class="spacing-top spacing-bottom">
          <label for="password">Password :</label>
          <div>
            <input
              type="password"
              class="form-contorl"
              id="password"
              formControlName="password"
              placeholder="Enter password"
            />
          </div>
        </div>

        <div class="spacing-top">
          <input
            type="submit"
            class="btn btn-primary"
            value="Login"
            [disabled]="!loginGroup.valid"
            (click)="onLoginClicked()"
          />

          <input
            type="checkbox"
            id="rememberMe"
            class="remember-me"
            (change)="onRememberMeChanged()"
            [checked]="rememberMeChecked"
          />
          <label for="rememberMe">Remember me</label>
        </div>
      </fieldset>
    </form>
  </div>
</div>
