.filter-container {
  // padding-top: 10px;
  top: 0;
  // min-width: 25%;
  height: 100%;
  margin: 10px;
}

.filter-section-container {
  // padding-top: 10px;
  // min-height: 300px;
}
