<div class="filter-container">
  <div class="title"><h3>Filters</h3></div>
  <div class="section-filter">
    <div class="filter-option">
      <input type="checkbox" id="option1" />
      <label for="option1">United colors of benetton</label>
    </div>

    <div class="filter-option">
      <input type="checkbox" id="option1" />
      <label for="option1">Axter</label>
    </div>

    <div class="filter-option">
      <input type="checkbox" id="option1" />
      <label for="option1">Columbus</label>
    </div>

    <div class="filter-option">
      <input type="checkbox" id="option1" />
      <label for="option1">Kwellin</label>
    </div>

    <div class="filter-option">
      <input type="checkbox" id="option1" />
      <label for="option1">Montiano</label>
    </div>

    <div class="filter-option">
      <input type="checkbox" id="option1" />
      <label for="option1">Montiano</label>
    </div>

    <div class="filter-option">
      <input type="checkbox" id="option1" />
      <label for="option1">Montiano</label>
    </div>
  </div>
  <div class="section-filter"></div>
  <div class="section-filter"></div>
  <!-- <div>
    sdf asdf sadf sadsf asdfd asdfsd
  </div> -->
</div>
