<div class="filter-container">
  <div class="title"><h3>Brand</h3></div>
  <div class="section-filter">
    <div class="filter-card">
      <div class="filter-option">
        <input type="checkbox" id="option1" />
        <label for="option1">Axter</label>
      </div>

      <div class="filter-option">
        <input type="checkbox" id="option1" />
        <label for="option1">Columbus</label>
      </div>

      <div class="filter-option">
        <input type="checkbox" id="option1" />
        <label for="option1">Kwellin</label>
      </div>
    </div>
  </div>
</div>
