*,
::after,
::before {
  box-sizing: border-box;
}

.dashboard-container {
  width: 100%;
  height: 100%;
}

.dashboard-sections {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.left-section {
  margin-right: auto;
  width: 25%;
  height: 100%;
}

.right-section {
  margin-left: auto;
  width: 70%;
  align-content: space-between;
  margin-bottom: auto;
  text-align: center;
}
