*,
::after,
::before {
  box-sizing: border-box;
}

.check-box-container {
  height: 100%;
}
.title {
  min-height: 20px;
}
.section-filter {
  width: 100%;
}

.filter-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-height: 200px;
  width: 100%;
  line-height: 1rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  overflow: auto;
}

.filter-option {
  margin-left: 5px;
}

label {
  display: inline-block;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
