<div>
  <div class="title">
    <h3>{{ sectionTitle }}</h3>
  </div>
  <div class="section-filter">
    <div class="filter-card">
      <div
        class="filter-option"
        *ngFor="let filter of filters; index as i; trackBy: trackByModifier"
        id="{{ filter.key }}"
      >
        <input
          id="{{ filter.key }}_input"
          type="checkbox"
          [value]="filter.value"
          (change)="handleFilterSelection(filter)"
        />
        <label id="{{ filter.key }}_label" for="{{ filter.key }}_input">{{
          filter.value
        }}</label>
      </div>
    </div>
  </div>
</div>
