*,
::after,
::before {
  box-sizing: border-box;
}

.title {
  min-height: 20px;
}
.section-filter {
  width: 100%;
  //   min-height: 500px;
}

.filter-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  min-height: 100px;
  max-height: 200px;
  line-height: 1rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  overflow: auto;
}

.filter-option {
  margin-left: 5px;
  // max-width: 120px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
